{% extends "base.html" %}
{% block main %}
<main>
    <h1 class="text" style="margin-top: 80px; font-size: 40px;">Книги</h1>

    <form id="filter-form">
        <input type="text" id="book" placeholder="Название">
        <input type="text" id="author" placeholder="Автор">
        <input type="number" id="min_pages" placeholder="Min страницы">
        <input type="number" id="max_pages" placeholder="Mах страницы">
        <input type="text" id="publisher" placeholder="Издательство">
        
        <button class="buttons2" type="submit">Применить фильтр</button>   
    </form>


    <br>
    <div class="card-container">
        {% for i in all_books %}
        <div class="card">
            <img style="width: 300px;height: 400px;" src="{{i.image_url}}">
            <h2 class="card-content" style="margin-top: 0px;">{{ i.book }}</h2>
            <h3 class="card-content" style="margin-top: -15px;">{{ i.author }}</h3>
            <div class="card-content" style="margin-top: -15px;">{{ i.pages }}</div>
            <div class="card-content" style="margin-bottom: 8px;">{{ i.publisher }}</div>
        </div>
        {% endfor %}

        <a href="{{ url_for('previous_books', offset=offset) }}" class="buttons2" style="align-items:center;">Показать предыдущие 20 книг</a>
        <a href="{{ url_for('next_books', offset=offset) }}" class="buttons2" style="align-items:center;">Показать следующие 20 книг</a>

        <div style="margin-bottom: -70px; display: flex; justify-content: center;"></div>
    </div>
</main>
{% endblock %}

    